:root {
  /* --main-color: #000000; */
  --width: 1000px;
  --font-family: "Kanit", sans-serif;
}

.main-content {
  display: inline-block;
  width: 50%;
  margin: 10% 25%;
}

.left-column {
  float: left;
  width: 60%;
}

.main-heading {
  font-size: 130px;
  font-family: var(--font-family);
  margin: 0;
}

.main-text {
  color: #7c7b7b;
  font-family: var(--font-family);
  margin: 0;
  font-size: 19px;
  margin-top: 0;
}

.secondary-text {
  color: #a6a6a6;
  font-family: var(--font-family);
  margin: 0;
  font-size: 14px;
  margin-top: 50px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #810903;
  font-size: 20px;
  margin-top: 15px;
}

.main-pic {
  float: right;
  width: 40%;
}
